{% extends "base.html.twig" %}
{% block title %}Job Done!{% endblock %}

{% block body %}
    <h2>Job created successfully!</h2>
    <a href="{{ path('create_job') }}">Create more Jobs!</a>
{% endblock %}
